* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  margin: 0px;
}

h1 {
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #333;
  font-weight: 600;
}

p {
  font-family: 'Roboto', Helvetica, sans-serif;
}

label {
  display: block;
  font-size: 100%;
  color: #333;
  line-height: 18px;
  font-family: 'Roboto', Helvetica, sans-serif;
}

header { 
  padding: 10px 0;
  margin: 0 auto 30px auto;
  text-align: center;
}

input[type="text"] {
  width: 95%;
}

input[type="submit"] {
  cursor: pointer;
  height: auto;
  width: auto;
  margin-top: 10px;
}

footer {
  padding: 20px;
  color: #474747;
  text-align: center;
  bottom: 0px;
  background-color: #f5f5f5;
}

/* Solid border */
hr {
  border-top: 1px solid rgb(241, 241, 241);
}

form {
  width: 15%;
  text-align: center;
  line-height: 30px;
  height: 80%;
  overflow: auto;
  margin: 15px auto;
}

form hr {
  border-top: 1px dotted rgb(236, 236, 236);
  width: 30%;
}

.button {
  border-radius: 3px;
  color: #FFFFFF;
  background-color: #aaa;
  display: inline-block;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  border: none;
}

.button:hover {
  background: #999999;
}

.navbar {
  background-color: white;
  width: 100%;
  top: 0;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.sqftBodies {
  font-size: 100%;
  color: #333;
  font-family: 'Roboto', Helvetica, sans-serif;
}

.addOns {
  font-size: 100%;
  color: #333;
  font-family: 'Roboto', Helvetica, sans-serif;
}

.sqftResults { 
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgb(221, 221, 221) ;
  width: 100%;
  visibility: hidden;
}

.title {
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #333;
  font-weight: bold;
}

.sqftRange {
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #333;
  margin-bottom: 10px;
}

.dividingLine {
  margin: 30px 10%;
}

#zipResults {
  font-family: 'Roboto', Helvetica, sans-serif;
  color:rgb(255, 255, 255);
  text-align: center;
  padding: 15px 0;
  font-weight: bold;
  margin: 0 10%;
  border-radius: 5px;
}

#givensqft { 
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #333;
  background-color: #f5f5f5;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 20px;
  font-weight: bold;
  box-shadow: 0 5px 5px rgb(221, 221, 221) ;
  border-radius: 5px;
  visibility: hidden;
}

#website-title {
  color: #474747;
  font-family: Sofia-pro;
  text-align: center;
  font-size: 2em;
}

#lightResults {
  margin-right: 10px;
  text-align: center;
}

#deepResults {
  margin-left: 10px;
  text-align: center;
}

#moveResults {
  margin-top: 20px;
  text-align: center;
}

#addOnResults {
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
}

#sqftContainer {
  display: flex;
}

#sqftArea {
  border-radius: 5px;
  margin: 0 10% 20px 10%;
}
