h1 {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: bold;
}

p {
  font-family: 'Roboto', Helvetica, sans-serif;
}

label {
  font-family: 'Roboto', Helvetica, sans-serif;
}

header { 
  width: 100%;
  top: 0; 
}

footer {
  padding: 20px;
  color: #474747;
  text-align: center;
  bottom: 0px;
  background-color: #f5f5f5;
}

/* Solid border */
hr {
  border-top: 1px solid rgb(241, 241, 241);
}

form {
  text-align: center;
  line-height: 30px;
  height: 80%;
  overflow: auto;
  padding: 10px;
}

form hr {
  border-top: 1px dotted rgb(236, 236, 236);
  width: 30%;
}

.navbar {
  background-color: white;
  width: 100%;
  top: 0;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

#results {
  font-family: 'Roboto', Helvetica, sans-serif;
  color:rgb(255, 255, 255);
  text-align: center;
  padding: 15px;
  font-weight: bold;
}

#website-title {
  color: #474747;
  font-family: Sofia-pro;
  text-align: center;
  font-size: 2em;
}
